@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: forest;
}

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

@layer base {
  html {
    color-scheme: dark;
    scroll-behavior: smooth;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  button:disabled,
  [role="button"]:disabled {
    @apply cursor-not-allowed;
  }

  body {
    @apply bg-base-100 font-sans text-base-content text-base;
    @apply selection:bg-primary/20;
  }

  code,
  pre {
    @apply font-mono;
  }
}

@layer components {
  /* Stream video call controls component's additional styles */
  .str-video__call-controls {
    @apply flex-wrap!;
  }
}

@utility text-gradient {
  @apply text-transparent bg-linear-to-r bg-clip-text from-primary via-secondary to-accent capitalize;
}
